html, body {
  padding: 0;
  margin: 0;
  font-family: roboto !important;
  scroll-behavior: smooth;
}

/* Custom antd inputs, that's why it's needed to use !important tag */

.ant-checkbox-checked .ant-checkbox-inner {
  background-color: #ff8b15 !important;
  border-color: #ff8b15 !important;
}

.ant-picker-focused {
  border-color: #ff8b15 !important;
  box-shadow: none !important;
}

.ant-input-affix-wrapper-focused {
  border-color: #ff8b15 !important;
  box-shadow: none !important;
}

@font-face {
  font-family: roboto;
  src: url('../fonts/Roboto-Regular.ttf');
}

@font-face {
  font-family: robotoBold;
  src: url('../fonts/Roboto-Bold.ttf');
}

@font-face {
  font-family: robotoMedium;
  src: url('../fonts/Roboto-Medium.ttf');
}